<h2 class="text-center">Editing Restaurant</h2>

    <%= render "form" %>
<%= link_to "Show", restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to "Back", restaurants_path, class: "btn btn-link" %>