<div class="col-md-6 col-md-offset-3">
  <%= form_for [@restaurant, @review] do |f| %>

      <div id="star-rating"></div>

      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, class: "form-control" %>
      </div>

      <div class="action">
        <%= f.submit class: "btn btn-primary" %>
      </div>
  <% end %>
</div>

<script>
    $("#star-rating").raty({
        path: "/assets",
        scoreName: "review[rating]"
    });
</script>